@import "tailwindcss";

@theme {
  --font-western: "Roboto Slab", serif;
  --font-brand: "Oswald", sans-serif;
}

@layer components {
  .lasso-border {
    border: 2px solid #D2B48C;
    border-radius: 9999px;
    box-shadow:
      0 0 0 2px #8B5A2B,
      0 0 0 4px #D2B48C;
  }
}

@layer base {
  h1 {
    font-family: var(--font-western);
    letter-spacing: 0.08em;
    opacity: 1;
  }

  h2 {
    font-family: var(--font-brand);
    letter-spacing: 0.02em;
    opacity: 0.9;
  }

  p {
    font-family: var(--font-brand);
    opacity: 0.7;
  }

  li {
    font-family: var(--font-brand);
    opacity: 0.8;
  }

  .btn{
    font-family: var(--font-brand);
    letter-spacing: 0.08em;
    opacity: 1;
    text-transform: uppercase;
  }


  a, button{
    font-family: var(--font-brand);
    letter-spacing: 0.04em;
    opacity: 1;
    
  }

}


:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #2F1D0F;
  background-color: #2F1D0F;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}